.settings/
.settings/*
.classpath
.project
logs/
logs/*
.idea/
.sass-cache
lint-modify.js

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# sass map
*.css.map

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# npm package
node_modules

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.svn-base
.svn
.svn/wc.db

dist
